Hello World Android/bin/classes/android/support/v7/appcompat/R.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$anim.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$attr.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$bool.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$color.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$dimen.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$drawable.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$id.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$integer.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$layout.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$string.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$style.class
Hello World Android/bin/classes/android/support/v7/appcompat/R$styleable.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/BuildConfig.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/MainActivity.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/MainActivity$PlaceholderFragment.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$anim.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$attr.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$bool.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$color.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$dimen.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$drawable.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$id.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$integer.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$layout.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$menu.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$string.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$style.class
Hello World Android/bin/classes/com/ianearnest/helloworldandroid/R$styleable.class
